# IDE configuration
.idea
# Trash files
__pycache__
.pytest_cache
# External libraries
venv
node_modules
static/dist
static/constants
bin
./lib
pip-selfcheck.json
webpack-stats.json
# sensitive files
settings*.py
!settings.example.py
# CI & Docker
.coverage
coverage/
logs
test-reports
# Celery
celerybeat.pid