# IDE configuration
.idea
# Trash files
__pycache__
*-lock.json
!package-lock.json
constants/*.json
# External libraries
venv
front/node_modules
front/dist
bin
./lib
pip-selfcheck.json
# sensitive files
settings*.py
!settings.example.py
# CI & Docker
.coverage
front/coverage/
logs
test-reports
# Celery
celerybeat.pid