chardet==3.0.4
git+https://github.com/gogaz/clashroyale.git@master#egg=clashroyale
codecov
Django==4.2.27
djangorestframework==3.12.2
flake8
gunicorn==20.0.4
psycopg2
python-box
requests
celery==5.2.2
redis
django-celery-results
django-celery-beat
unittest-xml-reporting
python-dateutil
sentry-sdk
sqlparse>=0.5.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
