@reboot python3 /code/manage.py royaleapi_pull --battles
@reboot python3 /code/manage.py royaleapi_pull_clans --war
@reboot python3 /code/manage.py royaleapi_tournaments --open 15
*/15 * * * * python3 /code/manage.py royaleapi_pull --battles
25 */6 * * * python3 /code/manage.py royaleapi_pull_clans --war
*/20 * * * * python3 /code/manage.py royaleapi_tournaments --open 15