@import "./responsive.css";
@import "./style.css";

.navbar-hidden .navbar-toggler
{
    display: none;
}
.app-header.navbar .navbar-brand,
.app-header.navbar
{
    background-color: #29363d;
}
.app-header.navbar .navbar-brand {
    height: 100%;
    border-bottom: 0;
}
.app-header.navbar {
    border-bottom: 0;
}

.sidebar-fixed .sidebar {
    position: absolute;
}

.app-header.navbar {
    position:fixed;
}

.aside-menu-fixed .aside-menu {
    top: 55px;
}

.card-danger>.card-header {
    color: #f63c3a;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.card-primary>.card-header {
    color: #fff;
    background-color: #63c2de;
    border-color: #63c2de;
}
.card-success>.card-header {
    color: #fff;
    background-color: #3a9d5d;
    border-color: #3a9d5d;
}
.card-warning>.card-header {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}
.timeline .card-danger{
    border-color: #f63c3a;
}
.timeline .card-primary {
    border-color: #63c2de;
}
.timeline .card-success {
    border-color: #3a9d5d;
}
.timeline .card-warning {
    border-color: #c09853;
}
.timeline .card-default {
    border-color: #f0f3f5;
}

/* Bottom left text */
.image-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.image-top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.image-top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.image-bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.btn-card
{
    display: flex;
    margin-bottom: 1.5rem;
    flex-direction: column;
    min-width: 0;
    border: 1px solid #c2cfd6;
}
.btn-card-body
{
    padding: 1rem;
    width: 100%;
}
.header-fixed .app-body
{
    padding-top: 55px;
}
.card-header .list-group li.list-group-item {
    background-color: #f0f3f5;
}

.clan_stats .content {
    background: no-repeat center left;
    background-size: 2.25rem;
    padding-left: 3rem;
}

.card-body:not(:last-child) {
    border-bottom: 1px solid #c2cfd6;
}
.clan_stats .title {
  font-weight: bold;
}

i.donations-icons {
    line-height: 1;
    vertical-align: middle;
    font-size: 2em;
    display: inline-block;
    position: relative;
}
i.donations-icons img {
    width: auto;
    height: 1.3rem;
    vertical-align: middle;
    margin-left: 0.2rem;
}
i.donations-icons svg {
    top: auto;
    left: auto;
    right: 1px;
    bottom: 1px;
    -webkit-transform: none;
    transform: none;
    font-size: .4em;
    position: absolute;
    margin: 0;
}
.trophy-td img {
    height: 2rem;
}
a:hover {
    text-decoration: none;
}
.player-clan-info span {
    border-left: 1px solid #c2cfd6;
    padding-left: 8px;
    padding-right: 8px;
}
.player-clan-info .donations-icons img {
    vertical-align: top;
    margin-top: 5px;
    height: 1rem;
}
.player-clan-info .donations-icons svg {
    font-size: .5rem;
    top: 0;
    margin-top: .69rem;
}
.progress-bar {
    text-shadow: 1px 1px #333, -1px -1px #333, -1px 1px #333, 1px -1px #333;
}
button:disabled {
    cursor: not-allowed;
}
.btn-xs {
    padding: .1rem .35rem;
    font-size: .85rem;
    line-height: 1.5;
}
.last-refresh-info .badge {
    font-size: 100%;
}