@import "./responsive.css";
@import "./style.css";

.img-valign {
  vertical-align: middle;
  margin-bottom: 0.75em;
}

.display-deck {
    margin-top: 15px;
}

.navbar-hidden .navbar-toggler
{
    display: none;
}
.app-header.navbar .navbar-brand,
.app-header.navbar
{
    background-color: #29363d;
}
.app-header.navbar .navbar-brand {
    height: 100%;
    border-bottom: 0;
}
.app-header.navbar {
    border-bottom: 0;
}

.sidebar-fixed .sidebar {
    position: absolute;
}

.app-header.navbar {
    position:fixed;
}

.aside-menu-fixed .aside-menu {
    top: 55px;
}

.profile-activity-item {
    padding: 5px;
}
.card-header > i.fa{
    margin: 0;
}
.card-danger>.card-header {
    color: #f63c3a;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.card-primary>.card-header {
    color: #fff;
    background-color: #63c2de;
    border-color: #63c2de;
}
.card-success>.card-header {
    color: #fff;
    background-color: #3a9d5d;
    border-color: #3a9d5d;
}
.card-warning>.card-header {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}
.timeline .card-danger{
    border-color: #f63c3a;
}
.timeline .card-primary {
    border-color: #63c2de;
}
.timeline .card-success {
    border-color: #3a9d5d;
}
.timeline .card-warning {
    border-color: #c09853;
}
.timeline .card-default {
    border-color: #f0f3f5;
}

/** VERTICAL TIMELINE **/
.timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
}

.timeline .line {
    position: absolute;
    width: 4px;
    display: block;
    background: currentColor;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
}

.timeline .separator {
    border-top: 1px solid currentColor;
    padding: 5px;
    padding-left: 40px;
    font-style: italic;
    font-size: .9em;
    margin-left: 30px;
}

.timeline .line::before { top: -4px; }
.timeline .line::after { bottom: -4px; }
.timeline .line::before,
.timeline .line::after {
    content: '';
    position: absolute;
    left: -4px;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background: currentColor;
}

.timeline .card {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
}

.timeline .card::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -25px;
    content: '';
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.timeline .card .card-header.icon .fa {font-size: 20px;}
.timeline .card .card-header.icon * {vertical-align: middle;line-height: 40px;}
.timeline .card .card-header.icon {
    position: absolute;
    left: -59px;
    display: block;
    min-width: 45px;
    min-height: 45px;
    padding: 0px;
    border: 1px solid #c2cfd6;
    text-align: center;
    float: left;
}

.timeline .card-outline {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

.timeline .card-outline .card-body {
    padding: 10px 0px;
}

.timeline .card-outline .card-header:not(.icon),
.timeline .card-outline .card-footer {
    display: none;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
    /* padding: 3pc; */
}

/* Bottom left text */
.image-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.image-top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.image-top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.image-bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.image-content-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timeline-datetime
{
    font-size: 15px;
    display: block;
    overflow-x: visible;
}
img.image-50
{
    margin-left: 25%;
}
.btn-card
{
    display: flex;
    margin-bottom: 1.5rem;
    flex-direction: column;
    min-width: 0;
    border: 1px solid #c2cfd6;
}
.btn-card-body
{
    padding: 1rem;
    width: 100%;
}
.header-fixed .app-body
{
    padding-top: 55px;
}
.card-header .list-group li.list-group-item {
    background-color: #f0f3f5;
}

.clan_stats .content {
    background: no-repeat center left;
    background-size: 2.25rem;
    padding-left: 3rem;
}

.card-body:not(:last-child) {
    border-bottom: 1px solid #c2cfd6;
}
.clan_stats .title {
  font-weight: bold;
}

i.donations-icons {
    line-height: 1;
    vertical-align: middle;
    font-size: 2em;
    display: inline-block;
    position: relative;
}
i.donations-icons img {
    width: auto;
    height: 1.3rem;
    vertical-align: middle;
    margin-left: 0.2rem;
}
i.donations-icons svg {
    top: auto;
    left: auto;
    right: 1px;
    bottom: 1px;
    -webkit-transform: none;
    transform: none;
    font-size: .4em;
    position: absolute;
    margin: 0;
}
.trophy-td img {
    height: 1.5rem;
}