@import "./responsive.css";

/* Page presentation */
body {
    background-color: #e4e5e6;
}
.card-header .list-group li.list-group-item {
    background-color: #f0f3f5;
}

.card-body:not(:last-child) {
    border-bottom: 1px solid #c2cfd6;
}

a:hover {
    text-decoration: none;
}
button:disabled {
    cursor: not-allowed;
}
.btn-xs {
    padding: .1rem .35rem;
    font-size: .85rem;
    line-height: 1.5;
}
.last-refresh-info .badge {
    font-size: 100%;
}

/** ReactTable **/
#root .rt-noData {
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 5rem;
}
/* DateRangeForm */
.date-range input.form-control {
    width: 110px;
}