.indicator-container {
  position: relative;
}
.indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.indicator-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: inherit;
}
.indicator.empty {
    background-color: rgb(242, 246, 249);
    box-shadow: inset 0 0 15px rgba(0,0,0,0.1);
}