.mt-0 {
  margin-top: 0;
}
.mt-xs {
  margin-top: 10px;
}
.mt-md {
  margin-top: 40px;
}
.mt-lg {
  margin-top: 80px;
}
.mt-xl {
  margin-top: 160px;
}
.mr-0 {
  margin-right: 0;
}
.mr-xs {
  margin-right: 5px;
}
.mr-md {
  margin-right: 20px;
}
.mr-lg {
  margin-right: 40px;
}
.mr-xl {
  margin-right: 80px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-xs {
  margin-bottom: 10px;
}
.mb-md {
  margin-bottom: 40px;
}
.mb-lg {
  margin-bottom: 80px;
}
.mb-xl {
  margin-bottom: 160px;
}
.ml-0 {
  margin-left: 0;
}
.ml-xs {
  margin-left: 5px;
}
.ml-md {
  margin-left: 20px;
}
.ml-lg {
  margin-left: 40px;
}
.ml-xl {
  margin-left: 80px;
}
.mt-0 {
  padding-top: 0;
}
.mt-xs {
  padding-top: 10px;
}
.mt-md {
  padding-top: 40px;
}
.mt-lg {
  padding-top: 80px;
}
.mt-xl {
  padding-top: 160px;
}
.mr-0 {
  padding-right: 0;
}
.mr-xs {
  padding-right: 5px;
}
.mr-md {
  padding-right: 20px;
}
.mr-lg {
  padding-right: 40px;
}
.mr-xl {
  padding-right: 80px;
}
.mb-0 {
  padding-bottom: 0;
}
.mb-xs {
  padding-bottom: 10px;
}
.mb-md {
  padding-bottom: 40px;
}
.mb-lg {
  padding-bottom: 80px;
}
.mb-xl {
  padding-bottom: 160px;
}
.ml-0 {
  padding-left: 0;
}
.ml-xs {
  padding-left: 5px;
}
.ml-md {
  padding-left: 20px;
}
.ml-lg {
  padding-left: 40px;
}
.ml-xl {
  padding-left: 80px;
}
@media (max-width: 767px) {
  .mt-0-sm {
    margin-top: 0;
  }
  .mt-xs-sm {
    margin-top: 10px;
  }
  .mt-md-sm {
    margin-top: 40px;
  }
  .mt-lg-sm {
    margin-top: 80px;
  }
  .mt-xl-sm {
    margin-top: 160px;
  }
  .mr-0-sm {
    margin-right: 0;
  }
  .mr-xs-sm {
    margin-right: 5px;
  }
  .mr-md-sm {
    margin-right: 20px;
  }
  .mr-lg-sm {
    margin-right: 40px;
  }
  .mr-xl-sm {
    margin-right: 80px;
  }
  .mb-0-sm {
    margin-bottom: 0;
  }
  .mb-xs-sm {
    margin-bottom: 10px;
  }
  .mb-md-sm {
    margin-bottom: 40px;
  }
  .mb-lg-sm {
    margin-bottom: 80px;
  }
  .mb-xl-sm {
    margin-bottom: 160px;
  }
  .ml-0-sm {
    margin-left: 0;
  }
  .ml-xs-sm {
    margin-left: 5px;
  }
  .ml-md-sm {
    margin-left: 20px;
  }
  .ml-lg-sm {
    margin-left: 40px;
  }
  .ml-xl-sm {
    margin-left: 80px;
  }
  .mt-0-sm {
    padding-top: 0;
  }
  .mt-xs-sm {
    padding-top: 10px;
  }
  .mt-md-sm {
    padding-top: 40px;
  }
  .mt-lg-sm {
    padding-top: 80px;
  }
  .mt-xl-sm {
    padding-top: 160px;
  }
  .mr-0-sm {
    padding-right: 0;
  }
  .mr-xs-sm {
    padding-right: 5px;
  }
  .mr-md-sm {
    padding-right: 20px;
  }
  .mr-lg-sm {
    padding-right: 40px;
  }
  .mr-xl-sm {
    padding-right: 80px;
  }
  .mb-0-sm {
    padding-bottom: 0;
  }
  .mb-xs-sm {
    padding-bottom: 10px;
  }
  .mb-md-sm {
    padding-bottom: 40px;
  }
  .mb-lg-sm {
    padding-bottom: 80px;
  }
  .mb-xl-sm {
    padding-bottom: 160px;
  }
  .ml-0-sm {
    padding-left: 0;
  }
  .ml-xs-sm {
    padding-left: 5px;
  }
  .ml-md-sm {
    padding-left: 20px;
  }
  .ml-lg-sm {
    padding-left: 40px;
  }
  .ml-xl-sm {
    padding-left: 80px;
  }
}
@media (max-width: 767px) {
  .mt-0-md {
    margin-top: 0;
  }
  .mt-xs-md {
    margin-top: 10px;
  }
  .mt-md-md {
    margin-top: 40px;
  }
  .mt-lg-md {
    margin-top: 80px;
  }
  .mt-xl-md {
    margin-top: 160px;
  }
  .mr-0-md {
    margin-right: 0;
  }
  .mr-xs-md {
    margin-right: 5px;
  }
  .mr-md-md {
    margin-right: 20px;
  }
  .mr-lg-md {
    margin-right: 40px;
  }
  .mr-xl-md {
    margin-right: 80px;
  }
  .mb-0-md {
    margin-bottom: 0;
  }
  .mb-xs-md {
    margin-bottom: 10px;
  }
  .mb-md-md {
    margin-bottom: 40px;
  }
  .mb-lg-md {
    margin-bottom: 80px;
  }
  .mb-xl-md {
    margin-bottom: 160px;
  }
  .ml-0-md {
    margin-left: 0;
  }
  .ml-xs-md {
    margin-left: 5px;
  }
  .ml-md-md {
    margin-left: 20px;
  }
  .ml-lg-md {
    margin-left: 40px;
  }
  .ml-xl-md {
    margin-left: 80px;
  }
  .mt-0-md {
    padding-top: 0;
  }
  .mt-xs-md {
    padding-top: 10px;
  }
  .mt-md-md {
    padding-top: 40px;
  }
  .mt-lg-md {
    padding-top: 80px;
  }
  .mt-xl-md {
    padding-top: 160px;
  }
  .mr-0-md {
    padding-right: 0;
  }
  .mr-xs-md {
    padding-right: 5px;
  }
  .mr-md-md {
    padding-right: 20px;
  }
  .mr-lg-md {
    padding-right: 40px;
  }
  .mr-xl-md {
    padding-right: 80px;
  }
  .mb-0-md {
    padding-bottom: 0;
  }
  .mb-xs-md {
    padding-bottom: 10px;
  }
  .mb-md-md {
    padding-bottom: 40px;
  }
  .mb-lg-md {
    padding-bottom: 80px;
  }
  .mb-xl-md {
    padding-bottom: 160px;
  }
  .ml-0-md {
    padding-left: 0;
  }
  .ml-xs-md {
    padding-left: 5px;
  }
  .ml-md-md {
    padding-left: 20px;
  }
  .ml-lg-md {
    padding-left: 40px;
  }
  .ml-xl-md {
    padding-left: 80px;
  }
}