<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#e4e5e6">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/img/logo_small.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/app/app.css">
    <title>Coach Royale</title>
</head>
<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="root">
        <img src="/img/logo.gif" style="display: block;margin: 15% auto auto;"/>
        <div style="width: 100%; text-align: center; color: #6c757d">Loading app...</div>
    </div>
</body>
<script>
    const GLOBAL_mainClan = '{{ MAIN_CLAN }}';
    const GLOBAL_rootURL = `/clan/${GLOBAL_mainClan}`;
    const GLOBAL_refreshRate = Number({{ REFRESH_RATE }});
</script>
<script src="/app/bundle.js"></script>
</html>
